.mainContainer{width:1024px; margin:0 auto;}

#menu {font-size:42px; position:absolute; top:20px; left:180px; z-index:10000; cursor:pointer; margin:0 auto; color:Green;}
#menu li{display:inline; padding:0 50px;}
#menu li:hover{text-shadow: 4px 4px 4px #bbb;}